@import "tailwindcss";

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }
  .slide-in-from-top {
    animation-name: slideInFromTop;
  }
  .duration-300 {
    animation-duration: 300ms;
  }
  .duration-200{
    animation-duration: 200ms;
  }
  .duration-700{
    animation-duration: 700ms;
  }
  .slide-in-from-bottom {
    animation-name: slideFromBottom;
  }

  @keyframes slideInFromTop {
    from {
      transform: translateY(-2rem);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
  @keyframes slideFromBottom {
    from {
      transform: translateY(1rem);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


